*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
  color: gray;;
}

input{
  border: 0px ;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
  width: 400px;
  font-size: larger;
}
ul{
  margin-left:20px;
}